@CHARSET "UTF-8";

.lien_parcours{
	text-align : center;
	margin-top:90px;
}
.href_button{
	width:350px;
	height:120px ;
	margin:10px;
}

.element {
	margin-top: 25vh; /* poussé de la hauteur de 25 vers le bas*/
	transform: translateY(-50%); /* tiré de la moitié de sa propre hauteur */
}
.btn-group-lg > .btn, .btn-lg {
	padding: 10px 0px;
}